In [1]:
import os
from src import *
from src.data_classes.adult_data import *
from src.data_classes.compas_data import *
from typing import List, Dict
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.cm as cm

In [2]:
data = CompasData()._raw
print(data)

# description of the dataset
#https://www.cs.toronto.edu/~delve/data/adult/adultDetail.html

#https://www.kaggle.com/datasets/uciml/adult-census-income

         id                 name      first         last  \
0         1     miguel hernandez     miguel    hernandez
1         3          kevon dixon      kevon        dixon
2         4             ed philo         ed        philo
3         5          marcu brown      marcu        brown
4         6   bouthy pierrelouis     bouthy  pierrelouis
...     ...                  ...        ...          ...
7209  10996        steven butler     steven       butler
7210  10997      malcolm simmons    malcolm      simmons
7211  10999      winston gregory    winston      gregory
7212  11000          farrah jean     farrah         jean
7213  11001  florencia sanmartin  florencia    sanmartin

     compas_screening_date     sex         dob  age          age_cat  \
0               2013-08-14    Male  1947-04-18   69  Greater than 45
1               2013-01-27    Male  1982-01-22   34          25 - 45
2               2013-04-14    Male  1991-05-14   24     Less than 25
3               2013-01-13    Male  1993-01-21   23     Less than 25
4               2013-03-26    Male  1973-01-22   43          25 - 45
...                    ...     ...         ...  ...              ...
7209            2013-11-23    Male  1992-07-17   23     Less than 25
7210            2014-02-01    Male  1993-03-25   23     Less than 25
7211            2014-01-14    Male  1958-10-01   57  Greater than 45
7212            2014-03-09  Female  1982-11-17   33          25 - 45
7213            2014-06-30  Female  1992-12-18   23     Less than 25

                  race  ...  v_decile_score  v_score_text  v_screening_date  \
0                Other  ...               1           Low        2013-08-14
1     African-American  ...               1           Low        2013-01-27
2     African-American  ...               3           Low        2013-04-14
3     African-American  ...               6        Medium        2013-01-13
4                Other  ...               1           Low        2013-03-26
...                ...  ...             ...           ...               ...
7209  African-American  ...               5        Medium        2013-11-23
7210  African-American  ...               5        Medium        2014-02-01
7211             Other  ...               1           Low        2014-01-14
7212  African-American  ...               2           Low        2014-03-09
7213          Hispanic  ...               4           Low        2014-06-30

      in_custody  out_custody  priors_count.1 start   end event two_year_recid
0     2014-07-07   2014-07-14               0     0   327     0              0
1     2013-01-26   2013-02-05               0     9   159     1              1
2     2013-06-16   2013-06-16               4     0    63     0              1
3            NaN          NaN               1     0  1174     0              0
4            NaN          NaN               2     0  1102     0              0
...          ...          ...             ...   ...   ...   ...            ...
7209  2013-11-22   2013-11-24               0     1   860     0              0
7210  2014-01-31   2014-02-02               0     1   790     0              0
7211  2014-01-13   2014-01-14               0     0   808     0              0
7212  2014-03-08   2014-03-09               3     0   754     0              0
7213  2015-03-15   2015-03-15               2     0   258     0              1

[7214 rows x 53 columns]

In [17]:
intersection_counts = pd.crosstab(data['decile_score'], data['v_decile_score'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

Intersection Counts:
v_decile_score    1    2    3    4    5   6   7   8    9   10
decile_score
1               1260  173    7    0    0   0   0   0    0   0
2                328  317  211   67   15   3   0   0    0   0
3                136  191  169  130   80  38   3   0    0   0
4                 85  132  176  131  113  91  38   2    1   0
5                 42  106  131  143  111  77  52  14    5   0
6                 36   74  106  118  110  87  64  34   12   0
7                 14   46   86   98  100  97  76  49   24   2
8                  6   24   50   62   78  88  84  65   45  10
9                  4    8   36   40   51  78  88  80   95  28
10                 0    2    7    9   31  39  47  56  108  84

In [26]:

intersection_counts = pd.crosstab(data['c_charge_degree'], data['two_year_recid'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)

Intersection Counts:
two_year_recid      0     1
c_charge_degree
F                2384  2282
M                1579   969
Ratio between counts of 'Y' and 'X' for each category in 'Category1':
c_charge_degree
F    1.044698
M    1.629515
dtype: float64

Intersection Counts:
v_decile_score    1    2    3    4    5   6   7   8    9   10
decile_score
1               1260  173    7    0    0   0   0   0    0   0
2                328  317  211   67   15   3   0   0    0   0
3                136  191  169  130   80  38   3   0    0   0
4                 85  132  176  131  113  91  38   2    1   0
5                 42  106  131  143  111  77  52  14    5   0
6                 36   74  106  118  110  87  64  34   12   0
7                 14   46   86   98  100  97  76  49   24   2
8                  6   24   50   62   78  88  84  65   45  10
9                  4    8   36   40   51  78  88  80   95  28
10                 0    2    7    9   31  39  47  56  108  84